Repository sanjitThakuri07/testBoilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run prettier, yarn run eslint, stylelint scss

.lintstagedrc:

{
  "*.{ts,js,tsx,jsx}": ["yarn run prettier", "yarn run eslint"],
  "**/*.scss": ["stylelint scss"]
}

Initial commit
  README.md
Due: none

configuration fixes
  src/modules/tenant/addOrganization/index.tsx
  tsconfig.json
  tsconfig.node.json
Due: yarn run prettier, yarn run eslint

reusable code
  src/modules/config/generalSettings/GeneralSetting.tsx
  src/modules/table/BASDataTable.tsx
  src/store/zustand/generalSettings/territory/index.ts
  src/utils/keyFunction.ts
Due: yarn run prettier, yarn run eslint

handling object data set
  src/components/CustomPopup/index.tsx
Due: yarn run prettier, yarn run eslint

refactoring table
  src/modules/config/generalSettings/GeneralSetting.tsx
  src/modules/table/BASDataTable.tsx
  src/modules/table/tableDoc.txt
  src/store/zustand/generalSettings/country/index.ts
  src/store/zustand/generalSettings/location/index.ts
  src/store/zustand/generalSettings/territory/index.ts
Due: yarn run prettier, yarn run eslint

table refactoring
  src/modules/config/generalSettings/GeneralSetting.tsx
  src/modules/table/BASDataTable.tsx
  src/modules/table/tableDoc.txt
Due: yarn run prettier, yarn run eslint

working on templates sidebar
  src/components/CalendarInfo/index.tsx
  src/constants/variables/index.ts
  src/modules/AssignActivities/Form/AssignActivityForm.tsx
  src/modules/CommonSidebarLayout/index.tsx
  src/modules/layout/navbar/components/menuList/index.tsx
  src/modules/layout/navbar/constants/menu.config.ts
  src/modules/layout/topBar/components/activeUserCard/index.tsx
  src/modules/table/BASDataTable.tsx
  src/modules/template/Template.tsx
  src/modules/template/TemplateIndex.tsx
  src/routers/mainRoutes.tsx
  src/routers/routingsUrl.ts
  src/store/zustand/templates/templateStore.tsx
  src/styles/main.scss
  src/styles/pages/layout.scss
  src/utils/url.ts
Due: yarn run prettier, yarn run eslint, stylelint scss

template route fixed
  src/constants/variables/index.ts
  src/modules/CommonSidebarLayout/index.tsx
  src/modules/config/Filters/CommonFilter.tsx
  src/modules/table/BASDataTable.tsx
  src/modules/table/tableDoc.txt
  src/store/zustand/page/index.tsx
  src/utils/url.ts
Due: yarn run prettier, yarn run eslint

variables
  src/index.tsx
  src/modules/CommonSidebarLayout/index.tsx
  src/styles/components/Section.scss
  src/styles/components/TabPage.scss
  src/styles/components/customMultiselect.scss
  src/styles/components/newResponseType.scss
  src/styles/components/popupList.scss
  src/styles/components/responseInputLogic.scss
  src/styles/components/sidebar.scss
  src/styles/components/table.scss
  src/styles/components/templateSeperator.scss
  src/styles/layout/layout.scss
  src/styles/pages/accessControl.scss
  src/styles/pages/bottomTemplateNavigation.scss
  src/styles/pages/inspection.scss
  src/styles/pages/template.scss
  src/styles/variables.scss
  src/theme/mui/MuiThemeProvider.tsx
Due: yarn run prettier, yarn run eslint, stylelint scss

templates sidebar
  src/modules/CommonSidebarLayout/index.tsx
  src/modules/inspections/Report/Components/Question.tsx
  src/modules/inspections/createUpdate.tsx
  src/modules/template/inspection/index.tsx
  src/modules/template/inspection/indexBackup.tsx
  src/store/zustand/page/index.tsx
  src/store/zustand/templates/inspectionStore.tsx
  src/store/zustand/templates/templateStore.tsx
Due: yarn run prettier, yarn run eslint

fixes
  src/modules/CommonSidebarLayout/index.tsx
  src/modules/table/BASDataTable.tsx
  src/modules/template/TemplateIndex.tsx
  src/store/zustand/templates/templateStore.tsx
Due: yarn run prettier, yarn run eslint

store fixes
  src/App.tsx
  src/index.tsx
  src/modules/config/users/UserSetting.tsx
  src/modules/table/BASDataTable.tsx
  src/store/zustand/userSettings/userDepartment/index.ts
  src/store/zustand/userSettings/userOrg/index.tsx
  src/store/zustand/userSettings/userRole/index.ts
  src/utils/url.ts
Due: yarn run prettier, yarn run eslint

route fixes
  src/.env/.env.development
  src/modules/CommonSidebarLayout/index.tsx
  src/modules/layout/constants/index.ts
  src/modules/layout/navbar/components/menuList/index.tsx
  src/modules/layout/navbar/constants/menu.config.ts
  src/modules/layout/navbar/index.tsx
  src/modules/organization/OrganizationAddress.tsx
  src/modules/organization/OrganizationFormat.tsx
  src/modules/table/BASDataTable.tsx
  src/utils/permission.ts
  src/validationSchemas/OrganizationSetting.ts
Due: yarn run prettier, yarn run eslint

fixes
  src/.env/.env.development
  src/modules/layout/navbar/components/menuList/index.tsx
  src/modules/layout/navbar/constants/menu.config.ts
  src/modules/layout/topBar/components/activeUserCard/index.tsx
  src/styles/main.scss
Due: yarn run prettier, yarn run eslint, stylelint scss

general status
  src/.env/.env.development
  src/constants/permission.ts
  src/constants/variables/index.ts
  src/interfaces/configs.ts
  src/lib/axios/index.ts
  src/modules/apiRequest/apiRequest.ts
  src/modules/config/OverallConfiguration/InspectionConfig.tsx
  src/modules/config/booking/BookingSettingLayout.tsx
  src/modules/config/booking/bookingForms/AddBooking.tsx
  src/modules/config/booking/bookingForms/BookingStatusForm.tsx
  src/modules/config/booking/bookingForms/ServiceCard.tsx
  src/modules/config/generalSettings/GeneralSetting.tsx
  src/modules/config/generalSettings/OrganizationConfiguration.tsx
  src/modules/config/generalSettings/constantsForm.ts
  src/modules/config/generalSettings/country/CountryForm.tsx
  src/modules/config/routes.tsx
  src/modules/layout/navbar/constants/menu.config.ts
  src/store/zustand/generalStatus/index.ts
  src/store/zustand/module/index.tsx
  src/utils/url.ts
Due: yarn run prettier, yarn run eslint

fixes
  src/.env/.env.development
  src/App.tsx
  src/modules/CommonSidebarLayout/index.tsx
  src/modules/config/booking/BookingSettingLayout.tsx
  src/modules/config/globalResponseSet/GlobalResponse.tsx
  src/modules/layout/navbar/constants/menu.config.ts
  src/modules/layout/topBar/components/activeUserCard/index.tsx
  src/modules/template/components/mobileComponents/ReusableMobileComponent/ExtraUserFields.tsx
  src/modules/template/components/mobileComponents/SelectInternalResponse/index.tsx
  src/modules/template/inspection/index.tsx
  src/modules/template/inspection/questionToolBar.tsx
  src/routers/routingsUrl.ts
Due: yarn run prettier, yarn run eslint

changes
  src/components/InfoCard/index.tsx
  src/modules/AssignActivities/AddAssignActivity.tsx
  src/modules/AssignActivities/AssignActivities.tsx
  src/modules/CommonSidebarLayout/index.tsx
  src/modules/config/booking/bookingForms/BookingStatusForm.tsx
  src/modules/organization/OrganizationAddress.tsx
  src/modules/organization/OrganizationFormat.tsx
  src/modules/setting/profile/index.tsx
  src/modules/template/inspection/SubComponents/inspectionSubComponents.tsx
  src/modules/template/inspection/index.tsx
  src/routers/mainRoutes.tsx
  src/store/zustand/page/index.tsx
Due: yarn run prettier, yarn run eslint

fixes
  src/modules/layout/navbar/components/menuList/index.tsx
  src/modules/layout/navbar/index.tsx
  src/modules/organization/OrganizationDetails.tsx
  src/modules/organization/OrganizationFormat.tsx
  src/modules/setting/profile/ProfileFormat.tsx
  src/modules/setting/profile/index.tsx
  src/routes.tsx
  src/store/zustand/app/index.ts
  src/theme/mui/MuiThemeProvider.tsx
  src/utils/url.ts
  src/validationSchemas/OrganizationSetting.ts
Due: yarn run prettier, yarn run eslint

boiler plate
  src/modules/auth/login/index.tsx
  src/styles/authentication.scss
Due: yarn run prettier, yarn run eslint, stylelint scss

fixes
  src/modules/CommonSidebarLayout/index.tsx
  src/modules/layout/TemplateTopBar/TemplateTopBar.tsx
  src/modules/layout/navbar/index.tsx
  src/modules/template/TemplateIndex.tsx
  src/modules/template/container/layout/sidebar/index.tsx
  src/modules/template/container/layout/topbar/TemplateHeading/TemplateHeading.tsx
  src/utils/FindingsUtils.ts
Due: yarn run prettier, yarn run eslint

fixes
  src/components/AuthFooter.tsx
Due: yarn run prettier, yarn run eslint

fixes
  src/modules/config/generalSettings/GeneralSetting.tsx
Due: yarn run prettier, yarn run eslint

comment
  src/modules/errors/index.tsx
Due: yarn run prettier, yarn run eslint

build
  src/modules/template/components/mobileComponents/MobileSpeechRecognition/RealtimeSpeechToText.tsx
Due: yarn run prettier, yarn run eslint

build
  package.json
  src/modules/customers/routes.tsx
  src/routers/backlogRoutes.tsx
Due: yarn run prettier, yarn run eslint

env changes
  src/.env/.env.development
Due: none

fixes in general status
  src/.env/.env.development
  src/modules/config/booking/bookingForms/BookingStatusForm.tsx
Due: yarn run prettier, yarn run eslint

assign menu api integration
  src/modules/apiRequest/apiRequest.ts
  src/modules/layout/navbar/components/menuList/index.tsx
  src/modules/template/TemplateIndex.tsx
  src/modules/template/assignInspectionName/Form.tsx
  src/store/zustand/templates/templateStore.tsx
  src/utils/url.ts
Due: yarn run prettier, yarn run eslint

working on menu
  src/modules/layout/navbar/components/menuList/DynamicMenuList.tsx
  src/modules/layout/navbar/components/menuList/index.tsx
  src/modules/template/assignInspectionName/Form.tsx
  src/store/zustand/globalStates/layout.ts
  src/styles/components/sidebar.scss
  src/styles/variables.scss
Due: yarn run prettier, yarn run eslint, stylelint scss
