Repository sanjitThakuri07/testBoilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run prettier, yarn run eslint, stylelint scss

.lintstagedrc:

{
  "*.{ts,js,tsx,jsx}": ["yarn run prettier", "yarn run eslint"],
  "**/*.scss": ["stylelint scss"]
}

fixes
  src/modules/CommonSidebarLayout/index.tsx
  src/modules/layout/navbar/components/menuList/DynamicMenuList.tsx
  src/modules/layout/navbar/components/menuList/index.tsx
  src/styles/components/sidebar.scss
Due: yarn run prettier, yarn run eslint, stylelint scss

fixes
  .gitignore
  src/.env/.env.development
Due: none

working on relational attributes
  src/constants/variables/index.ts
  src/modules/CommonSidebarLayout/index.tsx
  src/modules/config/routes.tsx
  src/modules/layout/navbar/components/menuList/DynamicMenuList.tsx
  src/routers/routingsUrl.ts
  src/store/zustand/responseSet/internalResponse.ts
  src/utils/url.ts
Due: yarn run prettier, yarn run eslint

organization route fixes
  src/constants/variables/index.ts
  src/modules/config/globalResponseSet/GlobalResponse.tsx
  src/modules/config/globalResponseSet/regionalResponseSet/Form/InternalResponseSetForm.tsx
  src/modules/config/globalResponseSet/regionalResponseSet/Form/SampleTable.tsx
  src/modules/config/globalResponseSet/regionalResponseSet/Form/apiRequest.ts
  src/modules/config/globalResponseSet/regionalResponseSet/Form/form.style.scss
  src/modules/config/globalResponseSet/regionalResponseSet/index.tsx
  src/routers/mainRoutes.tsx
  src/routers/routingsUrl.ts
Due: yarn run prettier, yarn run eslint, stylelint scss

working on fixes
  src/modules/config/globalResponseSet/GlobalResponse.tsx
  src/modules/config/globalResponseSet/regionalResponseSet/Form/InternalResponseSetForm.tsx
  src/modules/config/globalResponseSet/relationResponseSet/Form/InternalResponseSetForm.tsx
  src/modules/config/globalResponseSet/relationResponseSet/Form/SampleTable.tsx
  src/modules/config/globalResponseSet/relationResponseSet/Form/apiRequest.ts
  src/modules/config/globalResponseSet/relationResponseSet/Form/form.style.scss
  src/modules/config/globalResponseSet/relationResponseSet/index.tsx
  src/modules/config/routes.tsx
  src/modules/layout/topBar/components/activeUserCard/index.tsx
  src/routers/routingsUrl.ts
  src/store/zustand/responseSet/relationResponse.ts
  src/utils/url.ts
Due: yarn run prettier, yarn run eslint, stylelint scss

response set
  src/routers/routingsUrl.ts
Due: yarn run prettier, yarn run eslint

env change
  vite.config.ts
Due: yarn run prettier, yarn run eslint

env changes
  src/.env/.env.production
Due: none

fixes
  src/modules/layout/navbar/constants/menu.config.ts
Due: yarn run prettier, yarn run eslint

test
  src/modules/auth/login/index.tsx
Due: yarn run prettier, yarn run eslint
